/* stylelint-disable no-missing-end-of-source-newline */
/* stylelint-disable indentation */
/* stylelint-disable declaration-empty-line-before */
/* stylelint-disable font-family-no-missing-generic-family-keyword */

body {
  position: relative;
  width: 375px;
  height: 5410px;
  background: #fff;
}

/* for header section */

header {
  position: absolute;
  width: 375px;
  height: 718px;
  left: 0%;
  top: 0%;
}

.logo {
  width: 76px;
  height: 20px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  /* stylelint-disable-next-line color-hex-case */
  color: #6070FF;
  margin-left: 5%;
  text-decoration: none;
}

.menu {
  position: absolute;
  width: 18px;
  height: 12px;
  left: 320px;
  top: 6px;
}

.welcome {
  width: 327px;
  height: 150px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  display: flex;
  align-items: center;
  margin-left: 5%;

  color: hsl(218, 54%, 20%);

  padding-top: 30%;
  text-align: justify;
}

.info {
  width: 327px;
  height: 146px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #344563;

  display: flex;
  padding-top: 6%;
  align-items: center;
  margin-left: 5%;
  text-align: left;
}

.intro {
  background: url(img/header-shapes\ mobile.png);
}

.connect {
  font-family: 'Poppins';
  font-style: normal;
  color: hsl(234, 100%, 75%);
  display: flex;
  font-size: 16px;
  line-height: 24px;

  margin-left: 5%;
  margin-top: 0%;
}

.icons ul {
  display: flex;
  width: 170.17px;
  height: 20px;
  list-style-type: none;
  padding-left: 0%;
  margin-top: 0%;
}

.icons li {
  margin-left: 1rem;
}

/* styles.css */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 4%;
  max-width: 600px;
  background: #E5E5E5;
  margin-top: 80%;
  padding-left: 2%;
  padding-top: 8%;
}

.grid-item {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 12px;

  width: 327px;
  height: 552px;

  background: #FFFFFF;

  border: 1px solid #DFE1E6;
  border-radius: 16px;
}

.list-01 {
  margin-top: 0%;
  text-align: left;
  padding-top: 0%;
}

.list-01 ul {
  display: inline-flex;
  list-style-type: none;
  padding-left: 0%;
  margin-top: 0%;
}

.list-01 li {
  margin-left: 1rem; 
  font-family: 'Poppins';
  font-style: normal;
  font-size: 13px;
  color: #7A869A;
}

.detail h1 {
    width: 295px;
    height: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172B4D;
}

.canopy {
  color: #344563;
}

.detail p {
  margin-top: 0%;
  padding-top: 0%;
  text-align: left;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.lang {
  margin-top: 0%;
  text-align: left;
  padding-top: 0%;
}

.lang1 ul {
  display: inline-flex;
  color: brown;
  list-style-type: none;
  padding-left: 0%;
  margin-top: 0%;
}

.lang li {
  margin-left: 1rem;
  font-family: 'Poppins';
  font-style: normal;

  font-size: 13px;
  color: #7A869A;
}
